/* very badly written css? :)) */
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #131a1c;
}

@font-face {
	font-family: JetBrainsMono;
	src: url(../assets/fonts/ttf/JetBrainsMono-ExtraLight.ttf);
}   

.clr{
	clear: both;
}

#main-header {
	height: 300px;
	margin: 0px 0px 0px 0px;
	background-color: #131a1c;
}

#main-header img{
	margin: 0px;
	height: 200px;
	border-radius: 7em;
}

#main-header div{
	color: #e74c4c;
	font-family: JetBrainsMono, monospace, sans-serif;
	font-size: 28px;
	margin: 10px 10px 0px 0px;
	padding: 35px 10px;
	border-radius: 1em;
}

#navbar{
	/* background-color: #2ac3de; */
	font-family: JetBrainsMono, monospace, sans-serif;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

#navbar ul{
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a:hover{
	text-decoratio6db0adn: none;
	color: #6bb05d;
}

.nav-button{
	/* position: absolute; */
	padding: 10px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2em;
	line-height: 60px;
	font-size: 1.2em;
	color: #c5c8c9;
	background-color: #2a3133;
}

.foo{
	margin: 20px;
	padding: 30px;
	background-color: #2a3133;
	color: #c5c8c9;
	border-radius: 1em;
	font-family: JetBrainsMono, monospace, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

.bar{
	margin: 20px;
	padding: 30px;
	background-color: #2a3133;
	color: #c5c8c9;
	border-radius: 1em;
	font-family: JetBrainsMono, monospace, sans-serif;
	font-size: 1em;
	line-height: 1.6em;
}


.project{
	margin: 20px;
	padding: 30px;
	background-color:#2a3133;
	color: #c5c8c9;
	border-radius: 1em;
	font-family: JetBrainsMono, monospace, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

#main-footer{
	/* text-align: center; */
	font-family: JetBrainsMono, monospace, sans-serif;
	font-size: 1em;
	color:#c5c8f9;
	padding: 10px;
	margin: 20px;
	text-align: center;    
}
