/* 
 * CSS for my portfolio 
 */ 

 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); 

:root { 
	--teal: #8ed8d1;
	--background-dark: #181f21;
        --background: #22292b;
	--white: #dadada;
}
*{
	margin: 0;
	padding: 5px;
}

body{
	background-color: var(--background-dark);
	left: 20em;
}

h1 { 
	animation-name: move-to-left;
	animation-duration: 2s;
	position: relative;
}

@keyframes move-to-left { 
	0%  {
		left: 300px; 
	}
	25% {
		left: 0px;
	}
	/* 50% { 
		left: 100px;
	}
	75% { 
		left: 50px;
	}
	100% { 
		left: 0px;
	} */
}

#intro { 
	font-family: 'DM Sans', sans-serif;
	color: var(--white); 
	padding: 10px 10px 10px 10px; 
	margin-top: 12%;
	margin-bottom: 5%;
	margin-left: 10%; 
	margin-right: 5%;
	max-width: 800px;
	max-height: auto;
	top: 5em;
}

#intro-text-2 { 
	font-family: 'DM Sans', sans-serif;
	font-size: 1.2em; 
	line-height: justify;
	font-weight: 510;
	text-align: left; 
	display: block;
	animation-name: move-to-right;
	animation-duration: 2s;
	position: relative;
}

@keyframes move-to-right { 
	0%  {
		right: 300px;
	}
	25% {
		right: 0px;
	}
}

#intro-text-2 a{ 
	text-decoration: none;
	color: var(--teal);  
}

/* Underline hover animation */ 
.hover-underline-animation {
	color: var(--teall);
	position: relative;
	display: inline-block;
}

.hover-underline-animation:after {
	content: '';
	width: 100%;
	transform: scaleX(0);
	position: absolute;
	height: 1px;
	bottom: 1px;
	background-color: var(--teal);
	left: 0;
	transition: transform 0.25s ease-out;
	transform-origin: bottom center;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom center;
}
 
 /* Dropdown Button */
 .dropbtn {
	background-color: var(--background);
	color: var(--teal);
	padding: 10px;
	font-size: 1em;
	border-radius: 1em;
	border: none;
	cursor: pointer;
	box-shadow: 5px 0px 5px 0px #131a1c;
  }

  .dropbtn:hover, .dropbtn:focus {
	background-color: #131a1c;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--teal);
	color: var(--background);
	min-width: 17px;
	border-radius: 4em;
	box-shadow: 0px 8px 5px 0px #131a1c;
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: var(--background);
	padding: 3px 3px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
	  background-color: var(--background);
	  color: var(--teal);
	  border-radius: 5em;
	}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 