@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFProDisplay';
  src: url(./asset/SF-Pro-Display-Regular.ttf);
}

@font-face {
  font-family: 'SFProMedium';
  src: url(./asset/SF-Pro-Display-Medium.ttf);
}

@font-face {
  font-family: 'SFProMono';
  src: url(./asset/SFMono-Regular.otf);
}

html {
  font-family: 'SFProDisplay';
  background: #c8c8c8;
  scroll-behavior: smooth;
  backdrop-filter: blue(10px);
  color: black !important;
}

.asset {
  position: absolute;
  display: flex;
  z-index: -1;
}

.welcome {
  height: 100vh;
  position: relative;
  background-color: #c8c8c8;
  height: 100vh;
}

.welcome::before {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  left: 0;
  background: #c8c8c8;
  transform: skewY(8deg);
  z-index: -1;
}

.welcome::after {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  right: 0;
  background: #c8c8c8;
  transform: skewY(-8deg);
  z-index: -1;
}

.container {
  font-family: 'SFProDisplay';
}

.header h1 {
  color: #597eb0;
  font-family: "SFProMedium";
}

.navbar {
  transition: 0.5s;
  background-color: transparent !important;
  color: #0d0d0d;
  backdrop-filter: blur(4px);
}

span {
  color: #597eb0;
}

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 80%;
  background: linear-gradient(to bottom right, #67b0e8, #1e2528, #141b1e);
  height: 10%;
}

@media (max-width: 500px) {
  .bubble::after {
    width: 100%;
    height: 45%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}

@media (max-width: 700px) {
  .bubble::after {
    width: 100%;
    height: 55%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}

@media (max-width: 1000px) {
  .bubble::after {
    width: 100%;
    height: 60%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}

.from-left {
  animation-name: from-left;
  animation-delay: 0s;
  animation-duration: 1s;
}

@keyframes from-left {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 8rem;
  }
}

.ph-caret-right {
  background-color: #597eb0 !important;
  border-radius: 100%;
  color: #0d0d0d;
}

hr {
  height: 0px;
  background-color: #597eb0;
  border: 1;
}

.thread {
  -webkit-animation: thread1 2s;
  -moz-animation: thread1 2s;
  -o-animation: thread1 2s;
  animation: thread1 2s;
}

@-webkit-keyframes thread1 {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@-moz-keyframes thread1 {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@-o-keyframes thread1 {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@keyframes thread1 {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}
.thread1 {
  -webkit-animation: thread2 2s;
  -moz-animation: thread2 2s;
  -o-animation: thread2 2s;
  animation: thread2 2s;
  width: 0px;
}

@-webkit-keyframes thread2 {
  from {
    width: 100%
  }

  to {
    width: 0%
  }
}

@-moz-keyframes thread2 {
  from {
    width: 10%
  }

  to {
    width: 0%
  }
}

@-o-keyframes thread2 {
  from {
    width: 100%
  }

  to {
    width: 0%
  }
}

@keyframes thread2 {
  from {
    width: 100%
  }

  to {
    width: 0%
  }
}

#about {
  font-family: "SFProDisplay";
}
.card {
  background-color: #dadada;
}

.card a {
  text-decoration: none;
  transition: 1s;
  color: #dadada;
}

.thanks {
  color: #dadada;
  background-color: #0d0d0d;
}

#projects{
  font-family: "SFProDisplay";
}

#gallery img {
  max-height: 500px;
  max-width: 500px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0d0d0d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
