@tailwind base;
@tailwind components;
@tailwind utilities;
    

html {
    height: 100%;
    background: url(https://w.wallhaven.cc/full/j8/wallhaven-j8v1xw.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-style: italic;
    font-size: 50px;
}

.header h2 {
    font-size: 40px;
}
.about-text {
    max-width: 500px;
}

span {
    color: lightgreen;
}